{
  "api_key":    "YOUR_TREBLLE_API_KEY",
  "sdk_token":  "YOUR_TREBLLE_SDK_TOKEN",

  "treblle_url": "https://ingress.treblle.com",

  "debug": false,

  "exclude_routes": [
    { "host": "internal.example.com" },
    { "host": "api.example.com", "path": "/health" },
    { "host": "api.example.com", "path": "/metrics" }
  ],

  "masked_keywords": [
    "password", "pwd", "secret",
    "password_confirmation", "passwordConfirmation",
    "cc", "card_number", "cardNumber", "ccv",
    "credit_score", "creditScore", "ssn"
  ]
}
